body{
    background: url("https://sun9-51.userapi.com/kV570NWirxm4yu_rVikAzG3ChvM4sdPRuNQUAg/o-g97b4edEo.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}